@media screen and (max-width: 320px) {
    html {
        display: none;
    }
}

@media screen and (min-width: 320px) {
    :root {
        --square: 42px;
        --gap: 7px;
        --font-size: 16px;
        --offset: 2px;
        --height: 30px;
    }
    
    .index {
        margin: 2px;
    }
}

@media screen and (min-width: 440px) {
    :root {
        --square: 46px;
        --gap: 9px;
        --font-size: 18px;
        --offset: 4px;
        --height: 40px;
    }

    .index {
        margin: 4px;
    }
}

@media screen and (min-width: 720px) {
    :root {
        --square: 48px;
        --gap: 11px;
        --font-size: 20px;
        --offset: 6px;
        --height: 50px;
    }
}

@media screen and (min-width: 320px) and (max-width: 720px) {
    .mode > .mode-title, .mode > .mode-prefix { 
        display: block;
        min-width: 100%;
        font-size: var(--font-size);
        line-height: 25px;
    }

    .mode > .mode-prefix {
        transition: max-height 0.5s ease, opacity 0.5s ease;
    }

    .mode:hover > .mode-title {
        line-height: 17.5px;
    }

    #window h1,h2 {
        margin-left: 0px;
        font-size: 22px;
    }

    section > p {
        text-align: justify;
    }
}