/* platí vždy */
* {
    margin: 0;
    font-family: sans-serif;
    font-weight: bold;
    color: var(--tertiary);
    /* pro vertikální centrování textu */
    line-height: 50px;
    text-decoration: none;
}

body {
    background: linear-gradient(-45deg, var(--primary), var(--secondary));
    height: 100dvh;
    /* fix for shadows */
}

svg {
    fill: var(--tertiary);
    cursor: pointer;
}

h1 {
    font-size: 24px;
    text-transform: uppercase;
    font-style: italic;
    filter: var(--shadow);
    will-change: filter;
}

h2 {
    text-transform: uppercase;
    font-size: 20px;
    filter: var(--shadow);
    will-change: filter;
}

/* header */

header {
    height: 50px;
    padding: var(--padding);
    background-color: var(--overlay);
}

nav {
    float: right;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 20px;
}

nav > * {
    height: 30px;
}

/* main */

body > main {
    height: calc(100dvh - 70px - 50px);
    width: 100%;
    justify-content: center;
    overflow-y: auto;
}

/* footer */

footer {
    height: 50px;
    background-color: var(--overlay);
}

#time {
    position: absolute;
    /* doplňkový, kvůli roku v pozadí */
    overflow: hidden;
}

#year {
    position: absolute;
    font-size: 35px;
    filter: opacity(25%);
    will-change: filter;
    /* záporný margin */
    margin: calc(-1 * var(--margin));
}

#date {
    margin: var(--margin);
}