/* platí vždy */
* {
    margin: 0;
    font-family: sans-serif;
    font-weight: bold;
    color: var(--tertiary);
    /* pro vertikální centrování textu */
    line-height: 50px;
    text-decoration: none;
}

body {
    background: linear-gradient(-45deg, var(--primary), var(--secondary));
    height: 100dvh;
    overflow: hidden;
}

svg {
    cursor: pointer;
}

h1, h2 {
    text-transform: uppercase;
    filter: var(--shadow);
    will-change: filter;
    padding: 10px 20px;
    margin: 10px;
}

h1 {
    font-size: 24px;
    line-height: 24px;
    font-style: italic;
    background: linear-gradient(to right, var(--overlay), transparent);
    border-radius: 50px;
}

h2 {
    font-size: 20px;
    line-height: 20px;
}

li, p {
    line-height: 30px;
}

button {
    border: none;
}

/* header */

#icon {
    width: 50px;
}

header {
    height: 50px;
    padding: var(--padding);
    background-color: var(--overlay);
}

nav {
    float: right;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 20px;
}

nav * {
    height: 30px;
}

/* main */

body > main {
    height: calc(100dvh - 70px - 50px);
    width: 100%;
    justify-content: center;
    overflow-y: auto;
}

/* footer */

footer {
    height: 50px;
    background-color: var(--overlay);
}

#time {
    position: absolute;
    /* doplňkový, kvůli roku v pozadí */
    overflow: hidden;
}

#year {
    position: absolute;
    font-size: 35px;
    filter: opacity(25%);
    will-change: filter;
    /* záporný margin */
    margin: calc(-1 * var(--margin));
}

#date {
    margin: var(--margin);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--outline);
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: padding-box;
    -webkit-transition: border 0.5s ease;
}

::-webkit-scrollbar-thumb:hover{
    border: 3px solid var(--outline);
    background: var(--secondary);
}

::-webkit-scrollbar-track {
    background: var(--overlay);
}