:root {
    --incorrect: rgb(255, 75, 75); /* Nekorektní - barva pro nekorektní prvky */
    --inexact: rgb(255, 170, 85); /* Nepřesný - barva pro nepřesné prvky */
    --exact: rgb(84, 255, 119); /* Přesný - barva pro přesné prvky */
    --yellow: rgb(255, 255, 0); /* Žlutá - barva pro žluté prvky */

    --square: 42px;
    --gap: 7px;
    --font-size: 16px;
    --offset: 2px;
    --height: 30px;
}

.dark {
    --primary: #051433; /* Primární tmavá barva - hlavní tmavá barva */
    --secondary: #161F2C; /* Sekundární tmavá barva - vedlejší tmavá barva */
    --tertiary: #CED8E2; /* Terciární tmavá barva - třetí tmavá barva */
    --overlay: rgba(0, 0, 0, 0.25); /* Překrytí - průhledný překryv */
    --outline: rgba(255, 255, 255, 0.1); /* Obrys - průhledný obrys */
    --brightness: brightness(80%); /* Jas - úroveň jasu */
    --glow-saturation: 40%; /* Saturace světla - úroveň sytosti světla */
}

.light {
    --primary: #8AF; /* Primární světlá barva - hlavní světlá barva */
    --secondary: #ABD; /* Sekundární světlá barva - vedlejší světlá barva */
    --tertiary: #345; /* Terciární světlá barva - třetí světlá barva */
    --overlay: rgba(255, 255, 255, 0.25); /* Překrytí - průhledný překryv */
    --outline: rgba(0, 0, 0, 0.1); /* Obrys - průhledný obrys */
    --brightness: brightness(120%); /* Jas - úroveň jasu */
    --glow-saturation: 80%; /* Saturace světla - úroveň sytosti světla */
}

.light, .dark {
    --glow-incorrect: drop-shadow(2px 4px 6px color-mix(in srgb, var(--incorrect) var(--glow-saturation), transparent)); /* Záře - Nekorektní - efekt záře pro nekorektní prvky */
    --glow-inexact: drop-shadow(2px 4px 6px color-mix(in srgb, var(--inexact) var(--glow-saturation), transparent)); /* Záře - Nepřesný - efekt záře pro nepřesné prvky */
    --glow-exact: drop-shadow(2px 4px 6px color-mix(in srgb, var(--exact) var(--glow-saturation), transparent)); /* Záře - Přesný - efekt záře pro přesné prvky */
    --glow-yellow: drop-shadow(2px 4px 6px color-mix(in srgb, var(--yellow) var(--glow-saturation), transparent)); /* Záře - Žlutá - efekt záře pro žluté prvky */
    --shadow: drop-shadow(0px 0px 8px color-mix(in srgb, var(--tertiary) var(--glow-saturation), transparent)); /* Stín - efekt stínu pro prvky */
}

@media screen and (min-width: 440px) {
    :root {
        --square: 46px;
        --gap: 9px;
        --font-size: 18px;
        --offset: 4px;
        --height: 40px;
    }
}

@media screen and (min-width: 720px) {
    :root {
        --square: 48px;
        --gap: 11px;
        --font-size: 20px;
        --offset: 6px;
        --height: 50px;
    }
}