/* definice barev, základních poměrů */
:root {
    --incorrect: #FF5151;
    --inexact: #FFAF51;
    --exact: #51FF77;
    --yellow: #FFFF00;
}

.dark {
    --primary: #051433; /* Darker shade for primary */
    --secondary: #161F2C; /* Darker shade for secondary */
    --tertiary: #CED8E2; /* Lighter shade for tertiary */
    --overlay: rgba(0, 0, 0, 0.25);
    --outline: rgba(255, 255, 255, 0.1);
    --brightness: brightness(80%);
    
    --glow-incorrect: drop-shadow(2px 4px 6px color-mix(in srgb, var(--incorrect) 40%, transparent));
    --glow-inexact: drop-shadow(2px 4px 6px color-mix(in srgb, var(--inexact) 40%, transparent));
    --glow-exact: drop-shadow(2px 4px 6px color-mix(in srgb, var(--exact) 40%, transparent));
    --glow-yellow: drop-shadow(2px 4px 6px color-mix(in srgb, var(--yellow) 40%, transparent));
    --shadow: drop-shadow(0px 0px 8px color-mix(in srgb, var(--tertiary) 40%, transparent));
}

.light {
    --primary: #8eaef3;
    --secondary: #A3B4D0;
    --tertiary: #33475B;
    --overlay: rgba(255, 255, 255, 0.25);
    --outline: rgba(0, 0, 0, 0.1);
    --brightness: brightness(120%);
    
    --glow-incorrect: drop-shadow(2px 4px 6px color-mix(in srgb, var(--incorrect) 80%, transparent));
    --glow-inexact: drop-shadow(2px 4px 6px color-mix(in srgb, var(--inexact) 80%, transparent));
    --glow-exact: drop-shadow(2px 4px 6px color-mix(in srgb, var(--exact) 80%, transparent));
    --glow-yellow: drop-shadow(2px 4px 6px color-mix(in srgb, var(--yellow) 80%, transparent));
    --shadow: drop-shadow(0px 0px 8px color-mix(in srgb, var(--tertiary) 80%, transparent));
}