#content-custom {
    text-align: center;
}

#content-custom form {
    display: flex;
    gap: 20px;
}

#content-custom form > button {
    width: 50px;
    background-color: var(--overlay);
    border-radius: 10px;
    filter: var(--shadow);
    cursor: pointer;
}

#content-custom form > input:focus {
    outline: none;
}

#content-custom form > input {
    text-transform: uppercase;
    filter: var(--shadow);
    will-change: filter;
    padding-left: 20px;
    border: none;
    flex: auto;
    background: linear-gradient(to right, var(--overlay), transparent);
    border-radius: 50px;
}