#content-lose > h1 {
    color: var(--incorrect);
    filter: var(--glow-incorrect);
    text-align: center;
}

#content-lose > h2 {
    background: linear-gradient(to right, transparent, var(--overlay), transparent);
    filter: var(--glow-exact);
    color: var(--exact);
    text-align: center;
}

#window:has(#content-lose.show) {
    background: url("/images/naur.gif");
    background-position: center;
    background-size: cover;
}

#content-lose {
    background: linear-gradient(to bottom, transparent, var(--overlay));
    backdrop-filter: blur(5px) var(--brightness);
}