#themes, #length {
    display: flex;
    gap: 10px;
    padding: 5px;
}

.theme, .number {
    flex: 1;
}

.theme {
    height: 50px;
    border: var(--outline) solid;
    filter: var(--shadow);
    will-change: filter;
}

.number {
    outline: var(--outline) solid;
    text-align: center;
    font-size: 28px;
}


.theme:hover, .number:hover {
    transform: scaleY(110%);
}

.number, .theme {
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.5s ease;
}

.incorrect {
    outline: solid var(--incorrect);
    filter: var(--glow-incorrect);
    will-change: filter;
}

.inexact {
    outline: solid var(--inexact);
    filter: var(--glow-inexact);
    will-change: filter;
}

.exact {
    outline: solid var(--exact);
    filter: var(--glow-exact);
    will-change: filter;
}