#themes, #length, #modes {
    /* vyzobrazení vedle sebe */
    display: flex;
    gap: 10px;
}

.length-option, .theme {
    flex: 1;
    cursor: pointer;
    border-radius: 10px;
    
    height: 50px;
    line-height: 50px;
    font-size: 28px;
    margin-block: 5px;

    transition:
        height 0.5s ease, 
        margin-block 0.5s ease, 
        line-height 0.5s ease, 
        font-size 0.5s ease;
    
    will-change:
        height,
        margin-block,
        line-height,
        font-size;
}

.mode {
    flex: 1;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;

    border: var(--outline) solid;

    height: 50px;
    line-height: 50px;
    margin-block: 5px;

    transition:
        height 0.5s ease,
        margin-block 0.5s ease,
        line-height 0.5s ease;
    
    overflow: hidden;
}

.mode > .mode-prefix {
    display: inline-block;
    max-width: 50px;
    opacity: 100%;
    transition: max-width 0.5s ease, opacity 0.5s ease;
}

.mode > .mode-title {
    text-transform: uppercase;
    font-size: 20px;
    filter: var(--shadow);

    transition: font-size 0.5s ease, width 0.5s ease, line-height 0.5s ease;
}

.theme {
    border: var(--outline) solid;
    filter: var(--shadow);
    /* oprava pro některé prohlížeče */
    will-change: filter;
}

.length-option {
    border: var(--outline) solid;
    text-align: center;
}

/* animace */
.theme:hover, .length-option:hover {
    height: 60px;
    line-height: 60px;
    margin-block: 0px;
    font-size: 34px;
}

.mode:hover {
    height: 60px;
    margin-block: 0px;
}

.mode:hover > .mode-prefix {
    max-width: 0px;
    opacity: 0%;
}

.mode:hover > .mode-title {
    font-size: 24px;
    line-height: 60px;
}

.selected-setting {
    border: var(--exact) solid;
    background-color: var(--overlay);
    filter: var(--glow-exact);
}