/* wrapper který je přes celý viewport a má v sobě vycentrované okno */
#window-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /* centrování */
    display: flex;
    justify-content: center;
    align-items: center;
    /* aby se dalo klikat na věci za tím, když je neviditelný */
    background-color: transparent;
    pointer-events: none;
    /* animace */
    transition: background-color 0.5s ease, backdrop-filter 0.5s ease;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
}

/* animace */
#window-wrapper.show {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

#window {
    max-width: 600px;
    width: calc(100% - 40px);
    border-radius: 10px;
    background-color: transparent;
    transition: background-color 0.25s ease;
    overflow: hidden;
}

#window > nav {
    width: 100%;
    height: 40px;
    background-color: var(--overlay);
    backdrop-filter: blur(20px) var(--brightness);
}

#window > nav > * {
    margin: 5px;
}

#window > div {
    padding: 15px;
    margin-top: 40px;
}

/* náhrada za content-visibility, který na některých prohlížečích není podporován */
#window > * {
    display: none;
}

#window.show {
    pointer-events: all;
    background-color: var(--secondary);
}

#window.show > nav, #window > div.show {
    display: block;
}


#window > div > .refresh, #window > div > .link {
    width: 30px;
    margin: auto;
}

#window h1 {
    margin-left: 15px;
}

#window > div > p {
    text-align: center;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-block: 15px;
}