/* definice barev, základních poměrů */
:root {
    --incorrect: #FF5151;
    --inexact: #FFAF51;
    --exact: #51FF77;

    --margin: 15px;
    --padding: 10px;
}

.dark {
    --primary: #181818;
    --secondary: #002652;
    --tertiary: #D6D6D6;
    --overlay: rgba(0, 0, 0, .25);
    --outline: rgba(255, 255, 255, .25);
    --brightness: brightness(80%);

    --glow-incorrect: drop-shadow(2px 4px 6px color-mix(in srgb, var(--incorrect) 40%, transparent));
    --glow-inexact: drop-shadow(2px 4px 6px color-mix(in srgb, var(--inexact) 40%, transparent));
    --glow-exact: drop-shadow(2px 4px 6px color-mix(in srgb, var(--exact) 40%, transparent));
    --shadow: opacity(75%) drop-shadow(0px 0px 6px color-mix(in srgb, var(--tertiary) 40%, transparent));
}

.light {
    --primary: #D6D6D6;
    --secondary: #ADD3FF;
    --tertiary: #181818;
    --overlay: rgba(255, 255, 255, .25);
    --outline: rgba(0, 0, 0, .25);
    --brightness: brightness(120%);

    --glow-incorrect: drop-shadow(2px 4px 6px color-mix(in srgb, var(--incorrect) 80%, transparent));
    --glow-inexact: drop-shadow(2px 4px 6px color-mix(in srgb, var(--inexact) 80%, transparent));
    --glow-exact: drop-shadow(2px 4px 6px color-mix(in srgb, var(--exact) 80%, transparent));
    --shadow: opacity(75%) drop-shadow(0px 0px 6px color-mix(in srgb, var(--tertiary) 80%, transparent));
}

/* platí vždy */
* {
    margin: 0;
    font-family: sans-serif;
    font-weight: bold;
    color: var(--tertiary);
    /* pro vertikální centrování textu */
    line-height: 50px;
    text-decoration: none;
}

svg {
    fill: var(--tertiary);
    cursor: pointer;
}

body {
    background: linear-gradient(-45deg, var(--primary), var(--secondary));
    height: 100dvh;
}

/* header */

header {
    height: 50px;
    padding: var(--padding);
    background-color: var(--overlay);
}

nav {
    float: right;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 10px;
}

nav > * {
    height: 30px;
}

/* main */

body > main {
    height: calc(100dvh - 70px - 50px);
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

#wrapper {
    width: 95%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

#game-wrapper, #keyboard-wrapper {
    /* centrování */
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-wrapper {
    flex: 5;
}

#keyboard-wrapper {
    flex: 3;
}

/* footer */

footer {
    height: 50px;
    background-color: var(--overlay);
}

#time {
    position: absolute;
    /* doplňkový, kvůli roku v pozadí */
    overflow: hidden;
}

#year {
    position: absolute;
    font-size: 35px;
    filter: opacity(25%);
    /* záporný margin */
    margin: calc(-1 * var(--margin));
}

#date {
    margin: var(--margin);
}

#window-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /* centrování */
    display: flex;
    justify-content: center;
    align-items: center;
    /* aby se dalo klikat na věci za tím */
    pointer-events: none;
    /* kvůli #date */
    z-index: 1;
    /* animace ztmavení a rozmazání pozadí */
    transition: background-color 0.5s ease, backdrop-filter 0.5s ease;
    background-color: transparent;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
}

/* animace */
#window-wrapper.show {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

#window {
    max-width: 600px;
    width: 90%;
    border-radius: 10px;
    transition: background-color 0.25s ease, display 0.25s ease;
    background-color: transparent;
    /* kvůli background-color a border-radius */
    overflow: hidden;
}

#window > * {
    display: none;
}

#window.show > nav, #window.show > main.show {
    display: block;
}

#window.show {
    pointer-events: all;
    background-color: var(--secondary);
}

#window nav {
    width: 100%;
    height: 40px;
    background-color: var(--overlay);
}

#close {
   margin: 5px;
}

#window > main {
    padding: calc(2 * var(--margin));
}

#window > main > * {
    margin-top: var(--margin);
}

h1 {
    font-size: 1.5em;
    text-transform: uppercase;
    font-style: italic;
    filter: var(--shadow);
}

#game {
    max-width: 100%;
}

.row {
    height: 48px;
    gap: 10px;
    margin-block: 10px;
    display: flex;
    justify-content: center;
    transition: gap 0.5s ease;
    width: 100%;
}

.letter {
    line-height: 48px;
    width: 48px;
    outline: solid var(--secondary);
    border-radius: 10px;
    -webkit-backdrop-filter: var(--brightness);
    backdrop-filter: var(--brightness);
    font-size: 28px;
    text-align: center;
    transition: outline .25s ease-out, transform 0.25s ease;
}

#keyboard {
    width: 100%;
}

.line {
    display: flex;
    gap: min(10px, 2vw);
    margin-block: 10px;
    height: 40px;
}

.key {
    line-height: 40px;
    outline: solid var(--secondary);
    border-radius: 5px;
    text-align: center;
    flex: 1;
    -webkit-backdrop-filter: var(--brightness);
    backdrop-filter: var(--brightness);
    transition: transform 0.25s ease, outline 0.25s ease;
    cursor: pointer;
}

.index {
    position: absolute;
    margin: 4px;
    line-height: 15px;
    font-size: 15px;
    right: 0px;
    top: 0px;
}

@media (max-width: 320px) {
    html {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 440px) {
    .row {
        height: 42px;
        gap: 7px;
        margin-block: 7px;
    }
    .letter {
        width: 42px;
    }
    .index {
        line-height: 12px;
        font-size: 12px;
        margin: 2px;
    }
}

@media (min-width: 440px) and (max-width: 720px) {
    .row {
        height: 46px;
        gap: 9px;
        margin-block: 9px;
    }
    .letter {
        width: 46px;
    }
}

@media (min-width: 720px) {
    .row {
        height: 52px;
        gap: 11px;
        margin-block: 11px;
    }
    .letter {
        width: 52px;
    }
    #wrapper {
        max-width: 800px;
    }
    
}

#backspace, #enter {
    flex: 2;
}

#themes {
    display: flex;
    gap: 20px;
}

#length {
    display: flex;
    gap: min(10px,3vw);
}

.number {
    flex: 1;
    text-align: center;
    font-size: min(28px, 10vw);
}

.theme {
    flex: 1;
    width: 50px;
    height: 50px;
}


.theme:hover, .number:hover {
    transform: scale(110%);
}

.theme {
    filter: drop-shadow(0px 0px 6px color-mix(in srgb, var(--tertiary) 40%, var(--primary)));
}

.light .theme {
    filter: drop-shadow(0px 0px 6px color-mix(in srgb, var(--tertiary) 80%, var(--primary)));
}

#keyboard, #game {
    text-transform: uppercase;
}

.number, .theme {
    cursor: pointer;
    outline: var(--outline) solid;
    border-radius: 10px;
    transition: transform 0.5s ease;
}

.key {
    z-index: 1;
}

.incorrect {
    outline: solid var(--incorrect);
    filter: var(--glow-incorrect);
}

.inexact {
    outline: solid var(--inexact);
    filter: var(--glow-inexact);
}

.exact {
    outline: solid var(--exact);
    filter: var(--glow-exact);
}

#window-win {
    background-image: url("https://media1.tenor.com/m/_hUq1BSUsiMAAAAC/cat-cute.gif");
    background-size: cover;
    background-position: center;
}

#window-win > h1 {
    text-align: center;
    filter: drop-shadow(2px 4px 6px color-mix(in srgb, var(--primary) 80%, transparent));
}

#image-win {
    border-radius: 10px;
    width: 50%;
    height: 100px;
    object-fit: cover;
}

#window-win > menu {
    text-align: center;
    padding: 0;
}

#window-win > menu > button {
    border-radius: 5px;
    width: 100px;
    background-color: var(--primary);
    border: none;
}