/* definice barev, základních poměrů */
:root {
    --primary: #181818;
    --secondary: #002652;
    --tertiary: #D6D6D6;
    --wrong: #FF5151;
    --displacement: #FFAF51;
    --right: #51FF77;

    --margin: 15px;
    --padding: 10px;
}

/* platí vždy */
* {
    margin: 0;
    font-family: sans-serif;
    font-weight: bold;
    color: var(--tertiary);
    /* pro vertikální centrování textu */
    line-height: 50px;
    text-decoration: none;
}

body {
    background: linear-gradient(-45deg, var(--primary), var(--secondary));
}

header {
    height: 50px;
    padding: var(--padding);
    background-color: rgba(0, 0, 0, .25);
}

nav {
    height: 30px;
    padding-block: var(--padding);
    float: right;
}

nav * {
    margin-right: var(--margin);
}


main {
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
}

#game-wrapper, #keyboard-wrapper {
    /* centrování */
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

footer {
    height: 50px;
    background-color: rgba(0, 0, 0, .25);
}

svg {
    fill: var(--tertiary);
    cursor: pointer;
}

#time {
    position: absolute;
    /* doplňkový, kvůli roku v pozadí */
    overflow: hidden;
}

#year {
    position: absolute;
    font-size: 35px;
    filter: opacity(25%);
    /* záporný margin */
    margin: calc(-1 * var(--margin)) calc(-1 * var(--margin));
}

#date {
    margin-left: var(--margin);
}

#window-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    /* centrování */
    display: flex;
    justify-content: center;
    align-items: center;
    /* aby se dalo klikat na věci za tím */
    pointer-events: none;
    top: 0;
    left: 0;
    transition: background-color 0.5s ease;
    /*kvůli #date*/
    z-index: 1;
}

#window-wrapper.show {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}

#window {
    width: 600px;
    height: 400px;
    padding: var(--padding);
    border-radius: 10px;
    /* neukazovat obsah dokud se nerozklikne (JS) */
    content-visibility: hidden;
    /* kvůli wrapperu */
    pointer-events: all;
    transition: background-color 0.3s ease, content-visibility 0.3s ease;
}

#game {
    height: 400px;
}

.row {
    height: 50px;
    gap: 15px;
    margin-block: var(--margin);
    display: flex;
    justify-content: center;
    transition: gap 0.5s ease;
}

.letter {
    height: 50px;
    width: 50px;
    outline: solid var(--secondary);
    border-radius: 10px;
    backdrop-filter: brightness(80%);
    font-size: 30px;
    text-align: center;
    transition: outline .25s ease-out, transform 0.25s ease;
}

#keyboard {
    min-width: 600px;
}

.line {
    display: flex;
    gap: 10px;
    margin-block: 10px;
    height: 40px;
}

.key {
    line-height: 40px;
    outline: solid var(--secondary);
    border-radius: 10px;
    text-align: center;
    flex: 1;
    backdrop-filter: brightness(80%);
    transition: transform 0.25s ease, outline 0.25s ease;
}

#backspace, #enter {
    flex: 2;
}

.index {
    position: absolute;
    margin: 4px;
    line-height: 15px;
    font-size: 15px;
    bottom: 0px;
    right: 0px;
}

#themes {
    display: flex;
    width: 100%;
    gap: 10px;
}

.theme {
    outline: var(--tertiary) solid;
    height: 100px;
    flex: 1;
    border-radius: 10px;
}
#length {
    display: flex;
    gap: 15px;
}

.number {
    flex: 1;
    text-align: center;
    outline: var(--tertiary) solid;
    border-radius: 10px;
    font-size: 26px;
}
#keyboard, #game {
    text-transform: uppercase;
}