/* definice barev, základních poměrů */
:root {
    --primary: #181818;
    --secondary: #002652;
    --tertiary: #D6D6D6;
    --overlay: rgba(0, 0, 0, .25);
    --brightness: brightness(80%);
    --outline: rgba(255, 255, 255, .25);
    --wrong: #FF5151;
    --displacement: #FFAF51;
    --right: #51FF77;

    --margin: 15px;
    --padding: 10px;
}

.dark {
    --primary: #181818;
    --tertiary: #D6D6D6;
    --overlay: rgba(0, 0, 0, .25);
    --outline: rgba(255, 255, 255, .25);
    --brightness: brightness(80%);
}

.light {
    --primary: #D6D6D6;
    --tertiary: #181818;
    --overlay: rgba(255, 255, 255, .25);
    --outline: rgba(0, 0, 0, .25);
    --brightness: brightness(120%);
}

.light-blue {
    --secondary: #ADD3FF;
}

.dark-blue {
    --secondary: #002652;
}

/* platí vždy */
* {
    margin: 0;
    font-family: sans-serif;
    font-weight: bold;
    color: var(--tertiary);
    /* pro vertikální centrování textu */
    line-height: 50px;
    text-decoration: none;
}

body {
    background: linear-gradient(-45deg, var(--primary), var(--secondary));
}

header {
    height: 50px;
    padding: var(--padding);
    background-color: var(--overlay);
}

nav {
    height: 30px;
    padding-block: var(--padding);
    float: right;
}

nav > * {
    margin-right: var(--margin);
}


body > main {
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
}

#game-wrapper, #keyboard-wrapper {
    /* centrování */
    display: flex;
    justify-content: center;
    align-items: center;
}

#keyboard-wrapper {
    flex: 2;
}

#game-wrapper {
    flex: 3;
}

footer {
    height: 50px;
    background-color: var(--overlay);
}

svg {
    fill: var(--tertiary);
    cursor: pointer;
}

#time {
    position: absolute;
    /* doplňkový, kvůli roku v pozadí */
    overflow: hidden;
}

#year {
    position: absolute;
    font-size: 35px;
    filter: opacity(25%);
    /* záporný margin */
    margin: calc(-1 * var(--margin)) calc(-1 * var(--margin));
}

#date {
    margin-left: var(--margin);
}

#window-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    /* centrování */
    display: flex;
    justify-content: center;
    align-items: center;
    /* aby se dalo klikat na věci za tím */
    pointer-events: none;
    top: 0;
    left: 0;
    transition: background-color 0.5s ease;
    /*kvůli #date*/
    z-index: 1;
}

#window-wrapper.show {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}

#window {
    max-width: 600px;
    width: 80vw;
    border-radius: 10px;
    /* neukazovat obsah dokud se nerozklikne (JS) */
    content-visibility: hidden;
    /* kvůli wrapperu */
    pointer-events: none;
    background-color: transparent;
    transition: background-color 0.3s ease, content-visibility 0.3s ease;
    overflow: hidden;
}

#window.show {
    pointer-events: all;
    background-color: var(--secondary);
}

#window nav {
    width: 100%;
    height: 40px;
    padding: 0;
    background-color: var(--overlay);
}

#close {
   margin: 5px;
}

#window > main {
    top: 40px;
    padding: calc(2 * var(--margin));
}

#window > main > * {
    margin-top: var(--margin);
}
#window h1 {
    font-size: 1.5em;
    text-transform: uppercase;
    font-style: italic;
    filter: opacity(75%) drop-shadow(0px 0px 6px color-mix(in srgb, var(--tertiary) 40%, transparent));
}

.light #window h1 {
    filter: opacity(75%) drop-shadow(0px 0px 6px color-mix(in srgb, var(--tertiary) 80%, transparent));
}

#game {
    max-width: 97vw;
}

.row {
    height: 50px;
    gap: min(10px, 2vw);
    margin-block: min(10px, 2vw);
    display: flex;
    justify-content: center;
    transition: gap 0.5s ease;
    width: 100%;
}

@media (max-width: 767px) {
    /*use this*/
}

.letter {
    width: 50px;
    outline: solid var(--secondary);
    border-radius: min(10px, 1.5vw);
    backdrop-filter: var(--brightness);
    font-size: min(28px, 10vw);
    text-align: center;
    transition: outline .25s ease-out, transform 0.25s ease;
}

#keyboard {
    width: 650px;
    max-width: 95vw;
}

.line {
    display: flex;
    gap: min(10px, 2vw);
    margin-block: 10px;
}

.key {
    outline: solid var(--secondary);
    border-radius: 5px;
    text-align: center;
    flex: 1;
    backdrop-filter: var(--brightness);
    transition: transform 0.25s ease, outline 0.25s ease;
    cursor: pointer;
}

#backspace, #enter {
    flex: 2;
}

.index {
    position: absolute;
    margin: 4px;
    line-height: 15px;
    font-size: 15px;
    bottom: 0px;
    right: 0px;
}

#themes {
    display: flex;
    gap: 20px;
}

#length {
    display: flex;
    gap: min(10px,3vw);
}

.number {
    flex: 1;
    text-align: center;
    font-size: min(28px, 10vw);
}

.theme {
    flex: 1;
    width: 50px;
    height: 50px;
}


.theme:hover, .number:hover {
    transform: scale(110%);
}

.theme {
    filter: drop-shadow(0px 0px 6px color-mix(in srgb, var(--tertiary) 40%, var(--primary)));
}

.light .theme {
    filter: drop-shadow(0px 0px 6px color-mix(in srgb, var(--tertiary) 80%, var(--primary)));
}

#keyboard, #game {
    text-transform: uppercase;
}

.number, .theme {
    cursor: pointer;
    outline: var(--outline) solid;
    border-radius: 10px;
    transition: transform 0.5s ease;
}

.key {
    z-index: 1;
}

.wrong {
    outline: solid var(--wrong);
    filter: drop-shadow(2px 4px 6px color-mix(in srgb, var(--wrong) 40%, transparent));
}

.light .wrong {
    outline: solid var(--wrong);
    filter: drop-shadow(2px 4px 6px color-mix(in srgb, var(--wrong) 80%, transparent));
}

.displacement {
    outline: solid var(--displacement);
    filter: drop-shadow(2px 4px 6px color-mix(in srgb, var(--displacement) 40%, transparent));
}

.light .displacement {
    outline: solid var(--displacement);
    filter: drop-shadow(2px 4px 6px color-mix(in srgb, var(--displacement) 80%, transparent));
}

.right {
    outline: solid var(--right);
    filter: drop-shadow(2px 4px 6px color-mix(in srgb, var(--right) 40%, transparent));
}

.light .right {
    outline: solid var(--right);
    filter: drop-shadow(2px 4px 6px color-mix(in srgb, var(--right) 80%, transparent));
}