.row {
    display: flex;
    justify-content: center;
    transition: gap 0.5s ease;
    height: var(--square);
    gap: var(--gap);
    margin-block: var(--gap);
}

.letter {
    outline: solid var(--outline);
    border-radius: 7px;
    font-weight: bold;
    text-align: center;
    font-size: calc(var(--font-size) + var(--offset));
    width: var(--square);
    line-height: var(--square);
    backdrop-filter: var(--brightness);
    -webkit-backdrop-filter: var(--brightness);
    transition: transform 0.25s ease, outline 0.25s ease;
    will-change: filter;
}

.index {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 4px;
    line-height: calc(var(--square) / 4);
    font-size: calc(var(--square) / 4);
}

@media screen and (min-width: 320px) {
    .index {
        margin: 2px;
    }
}

@media screen and (min-width: 440px) {
    .index {
        margin: 4px;
    }
}