.row {
    display: flex;
    justify-content: center;
    transition: gap 0.5s ease;
}

.letter {
    outline: solid var(--secondary);
    border-radius: 7px;
    text-align: center;
    font-size: 28px;
    backdrop-filter: var(--brightness);
    -webkit-backdrop-filter: var(--brightness);
    transition: transform 0.25s ease, outline 0.25s ease;
}

.index {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 4px;
    line-height: 15px;
    font-size: 15px;
}