.line {
    display: flex;
    gap: 7px;
    margin-block: 7px;
}

.key {
    cursor: pointer;
    flex: 1;
    outline: solid var(--secondary);
    border-radius: 5px;
    text-align: center;
    line-height: 2em;
    backdrop-filter: var(--brightness);
    -webkit-backdrop-filter: var(--brightness);
    transition: transform 0.25s ease, outline 0.25s ease;
}

#backspace, #enter {
    flex: 2;
}