/* container obklopuje hru a klávesnici, určuje hranice a pomáhá zarovnat */
#container {
    width: calc(100% - 20px);
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-block: 20px;
}

#bar {
    display: flex;
}

#tags {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

#tags > div {
    background-color: var(--overlay);
    padding-inline: 10px;
    line-height: 24px;
    border-radius: 24px;
    filter: var(--shadow);
}

section > p {
    margin-left: 20px;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
    section > p {
        text-align: justify;
    }
}

/* hra a klávesnice */

.row, .keyboard-row {
    display: flex;
    gap: var(--gap);
    margin-block: var(--gap);
}

.row {
    justify-content: center;
    transition: gap 0.5s ease;
    height: var(--square);
}

.letter, .key {
    outline: solid var(--outline);
    text-align: center;
    font-weight: bold;
    backdrop-filter: var(--brightness);
    -webkit-backdrop-filter: var(--brightness);
    transition: transform 0.25s ease, outline 0.25s ease;
    will-change: filter;
}


.letter {
    border-radius: 7px;
    font-size: calc(var(--font-size) + var(--offset));
    width: var(--square);
    line-height: var(--square);
}

.key {
    cursor: pointer;
    flex: 1;
    border-radius: 5px;
    line-height: 2em;
}

.index {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 4px;
    line-height: calc(var(--square) / 4);
    font-size: calc(var(--square) / 4);
}

@media screen and (min-width: 320px) {
    .index {
        margin: 2px;
    }
}

@media screen and (min-width: 440px) {
    .index {
        margin: 4px;
    }
}

#backspace, #enter {
    flex: 2;
}