/* container obklopuje hru a klávesnici, určuje hranice a pomáhá zarovnat */
#container {
    width: calc(100% - 20px);
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-block: 20px;
}

#bar {
    display: flex;
}

#tags {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

#tags > div {
    background-color: var(--overlay);
    padding-inline: 10px;
    line-height: 24px;
    border-radius: 24px;
    filter: var(--shadow);
}

section > p {
    margin-left: 20px;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
    section > p {
        text-align: justify;
    }
}
