/* responsivita */
@media (max-width: 320px) {
    html {
        /* příliš malá obrazovka */
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 440px) {
    .row {
        height: 42px;
        gap: 7px;
        margin-block: 7px;
    }
    .letter {
        width: 42px;
    }
    .index {
        line-height: 12px;
        font-size: 12px;
        margin: 2px;
    }
    .number {
        font-size: 22px;
    }
}

@media (min-width: 440px) and (max-width: 720px) {
    .row {
        height: 46px;
        gap: 9px;
        margin-block: 9px;
    }
    .letter {
        width: 46px;
    }
}

@media (min-width: 720px) {
    .row {
        height: 52px;
        gap: 11px;
        margin-block: 11px;
    }
    .letter {
        width: 52px;
    }
    
}

/* při hádání jsou lépe čitelná velká písmena */
#keyboard, #game {
    text-transform: uppercase;
}

/* animace ikonek */
#settings, #close, .refresh, #info {
    transition: transform 0.5s ease;
    will-change: transform;
}

#settings:hover, #close:hover, .refresh:hover {
    transform: rotate(90deg);
}

#info:hover {
    transform: scale(110%);
}

/* barvy a zvýraznění */
.incorrect {
    outline: solid var(--incorrect);
    filter: var(--glow-incorrect);
}

.inexact {
    outline: solid var(--inexact);
    filter: var(--glow-inexact);
}

.exact {
    outline: solid var(--exact);
    filter: var(--glow-exact);
}

.exact, .inexact, .incorrect {
    will-change: filter;
}

#mode-visual {
    background-color: var(--overlay);
    display: inline-block;
    width: 150px;
    line-height: 24px;
    text-align: center;
    border-radius: 20px;
    margin: auto;
    outline: solid var(--outline);
}