/* Okno a jeho wrapper */
#window-wrapper, #window {
    background-color: transparent;
    pointer-events: none;
}

#window-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    transition: background-color 0.5s ease, backdrop-filter 0.5s ease;
}

#window {
    max-width: 600px;
    width: calc(100% - 40px);
    border-radius: 10px;
    transition: background-color 0.25s ease;
    overflow: hidden;
}

#window > * {
    display: none;
}

#window h1, #window h2 {
    margin-left: 15px;
}

#window-wrapper.show {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

#window.show {
    pointer-events: all;
    background-color: var(--secondary);
}

/* Navigace */

#window > nav {
    width: 100%;
    height: 30px;
    background-color: var(--overlay);
    backdrop-filter: blur(20px) var(--brightness);
}

#window > nav > * {
    margin: 3px;
}

/* Obsah okna */

#window > div {
    padding: 15px;
}

#window > div > p {
    font-weight: bold;
    text-align: center;
    filter: var(--shadow);
}

#window.show > nav, #window > div.show {
    display: block;
}

/* Nastavení */

#length, #modes {
    display: flex;
    gap: var(--gap);
    align-items: center;
    height: 60px;
}

.mode {
    height: 50px;
}

.mode:hover {
    height: 60px;
}

.length-option, .mode {
    cursor: pointer;
    flex: 1;
    border-radius: 10px;
    border: var(--outline) solid;
    text-align: center;
    background-color: var(--overlay);
    transition: height 0.5s ease, line-height 0.5s ease;
    will-change: filter;
    line-height: 50px;
}

.mode-title {
    font-weight: bold;
    text-transform: uppercase;
    transition: line-height 0.5s ease;
}

.mode-prefix {
    display: inline-block;
    max-width: 50px;
    opacity: 1;
    transition: max-width 0.5s ease, opacity 0.5s ease;
}

.mode-title, .length-option {
    font-size: var(--font-size);
}

.mode:hover .mode-title, .length-option:hover {
    line-height: 60px;
}

.mode:hover .mode-prefix {
    max-width: 0px;
    opacity: 0;
}

.selected-setting {
    border: var(--yellow) solid;
    background-color: var(--overlay);
    filter: var(--glow-yellow);
    font-weight: bold;
}

/* Vlastní slovo */

form {
    margin-block: 15px;
    display: flex;
}

form * {
    font-weight: bold;
}

form input, form button {
    filter: var(--shadow);
}

form input {
    background: linear-gradient(to right, var(--overlay), transparent);
    border: none;
    border-radius: 50px;
    letter-spacing: 2px;
    padding-left: 20px;
    text-transform: uppercase;
    width: calc(100% - var(--gap) - 2 * 50px);
    line-height: 50px;
}

form button {
    cursor: pointer;
    width: 50px;
    background-color: var(--overlay);
    border-radius: 10px;
    transition: opacity 0.25s ease;
}

form input:focus {
    outline: none;
}

form:invalid button {
    opacity: 0.5;
}

#submit-container {
    display: flex;
    gap: var(--gap);
}

/* Výhra | Prohra */
.menu {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-block: 15px;
}

#content-lose, #content-win {
    text-align: center;
    background: linear-gradient(to bottom, transparent, var(--overlay));
    backdrop-filter: blur(5px) var(--brightness);
}

#window:has(#content-lose.show), #window:has(#content-win.show) {
    background-position: center;
    background-size: cover;
}

#content-lose > h3, #content-win > h3 {
    background: linear-gradient(to right, transparent, var(--overlay), transparent);
}

#content-win > h1, #content-win > h2 {
    color: var(--exact);
    filter: var(--glow-exact);
}

#content-lose > h1,  #content-lose > h2 {
    color: var(--incorrect);
    filter: var(--glow-incorrect);
}

#content-win > h3 {
    filter: var(--shadow);
    color: var(--tertiary);
}

#content-lose > h3 {
    filter: var(--glow-exact);
    color: var(--exact);
}

#window:has(#content-win.show) {
    background: url("../../images/yippie.gif");
}

#window:has(#content-lose.show) {
    background: url("../../images/naur.gif");
}

@media screen and (min-width: 320px) and (max-width: 720px) {
    .mode > .mode-title, .mode > .mode-prefix {
        display: block;
        min-width: 100%;
        font-size: var(--font-size);
        line-height: 25px;
    }

    .mode > .mode-prefix {
        transition: max-height 0.5s ease, opacity 0.5s ease;
    }

    .mode:hover > .mode-title {
        line-height: 17.5px;
    }

    #window h1, #window h2 {
        margin-left: 0px;
        font-size: 22px;
    }
}