main > * {
    margin-left: 10px;
}

main {
    overflow: hidden;
    justify-content: center;
}

.author {
    width: 500px;
}

main, #authors, #about {
    display: flex;
}

#image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
    border-radius: 10px;
}

#wrapper {
    width: 800px;
}

#authors {
    justify-content: space-between;
}

#home {
    transition: transform 0.5s ease;
}

#home:hover {
    transform: scale(1.1);
}