#home {
    fill: var(--tertiary);
    cursor: pointer;
    height: 30px;
    width: 30px;
}

main *, main {
    display:block;
}

main * {
    margin-left: 10px;
}

main span {
    font-size: 22px;
}

li, p {
    line-height: 30px;
}